.nav {
    display: flex;
    justify-content: center;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a7a7a7;
}

.li {
    float: left;
}

.li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 56px;
    text-decoration: none;
    cursor: pointer;
}

.li a:hover {
    background-color: #ddd;
}