<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste soluta ut
      voluptates quasi, placeat doloremque facere, tenetur natus alias illum,
      totam magnam delectus esse. Alias dolorum nam vero, totam consequatur
      eligendi repellat quasi asperiores non amet ducimus, modi optio reiciendis
      fuga dolore, enim ipsam! Vero numquam perspiciatis enim ut blanditiis amet
      provident fugit cumque praesentium rem quidem quasi voluptatibus magni
      magnam quo, assumenda sequi dignissimos? Totam unde commodi modi esse
      nihil cumque pariatur, alias, quibusdam facilis laborum sequi! Tempore,
      repudiandae. Sequi accusantium consequatur magni, ab quibusdam pariatur a
      eos soluta consequuntur. Quaerat impedit iusto optio voluptatem!
      Praesentium iusto voluptatem consectetur.
    </p>
    {% endblock%}
  </body>
</html>
